*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* body{
    background-color: #111;
} */

/* NAVBAR */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #1c1c1c;
    color: white;
}

/* LOGO */
nav h3{
    font-size: 22px;
    color: #e50914;
    letter-spacing: 1px;
    text-decoration: underline;
}

/* SEARCH */
nav input{
    width: 40%;
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    outline: none;
}

/* BUTTON SECTION */
nav div{
    display: flex;
    align-items: center;
    gap: 10px;
}
#username {
    margin: 0;
    font-weight: 600;
    color: white;
    background-color: #333;
    padding: 5px 10px;
    border-radius: 6px;
}

nav button{
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: #333;
    color: white;
    transition: 0.3s;
}

/* HOVER EFFECT */
nav button:hover{
    background: #e50914;
}
/* RESPONSIVE */
@media(max-width: 768px){
    nav{
        flex-direction: column;
        gap: 10px;
    }

    nav input{
        width: 100%;
    }

    nav div{
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
}

/* container styling */
#cartContainer {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
    /* background-color: #111; */
}

/* movie card */
.movieCard {
    display:flex; 
    justify-content:space-evenly;
    background-color: #1c1c1c;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

/* hover effect */
.movieCard:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

/* movie image */
.movieCard img {
    width:auto;
    height:80px;
    object-fit: contain;
}

/* text styling */
.movieCard h3 {
    font-size: 18px;
    margin: 10px;
}

.movieCard p {
    font-size: 14px;
    margin: 5px 10px;
    color: #ccc;
}

.movieCard button{
    font-size: 14px;
    padding: 5px 15px;
    border:none;
    border-radius: 10px;
    margin:5px 10px;
    cursor: pointer;
    transition: 0.3s;
}

.movieCard button:hover{
    background-color: #e50914;
}